{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/view_all_jobs.css' %}">
{% endblock %}

{% block content %}

<div class="all-jobs-container">
    <div class="all-jobs-header">
        <h2>All Available Jobs</h2>
    </div>

    <div class="jobs-grid">
        {% for job in jobs %}
        <div class="job-card">
            <div class="job-top">
                <div class="job-icon">
                    <i class="fas fa-briefcase"></i>
                </div>
                <div>
                    <h3>{{ job.job_role }}</h3>
                    <p class="company">{{ job.company_name }} • {{ job.location }}</p>
                </div>
            </div>

            <div class="job-details">
                <p><strong>Experience:</strong> {{ job.experience }}</p>
                <p><strong>Skills:</strong> {{ job.skills }}</p>
            </div>

            <div class="job-actions">
               <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ job.email }}&su=Application for {{ job.job_role }}&body=Hello {{ job.company_name }}, I would like to apply for the {{ job.job_role }} position."
                target="_blank" class="btn-navy-sm" style="text-decoration: none">
                Apply Now
            </a>
            </div>
        </div>
        {% empty %}
        <p>No jobs available right now.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}